<div class="container bucket-container">
 <div  class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
  <div>
    <h1 class="headline text-weight_300">
       카페 등록하기
    </h1>
  </div>
      <form accept-charset="UTF-8" action="/cafe/cafecreate" class="new_project_request text-left" id="new_project_request" enctype="multipart/form-data" method="post" name="frm_payment">
          <div class="each-form-single-line form-group form-group-lg">
            <h3>카페 이름</h3>
              <input class="form-control input-lg" type="text" placeholder="Cafe's name" name="cafename" id = "cafename" value="<%= @title %>" required><br>
          </div>
          <div class="each-form-single-line form-group form-group-lg">
            <h3>카페 주소</h3>
              <!-- <input class="form-control input-lg" type="text" placeholder="Cafe's address" name="address" value="" required><br> -->
            <div class="postnumber input-group input-group-lg col-md-4 col-md-offset-0" id="home-input-group">
              <input id="postcode" type="text" class="form-control" style="padding:5px; text-align:center" placeholder="우편번호" name="buyer_postcode" readonly="true">
              <span class="input-group-btn">
                <a class="btn btn-danger" onclick="execDaumPostcode()" type="submit">검색</a>
              </span>
            </div>
            <br>
            <input class="form-control input-lg" name = "buyer_addr" type="text" id="address" placeholder="주소" readonly="true"><br>
            <input class="form-control input-lg" name = "address_detail" type="text" id="address_detail" placeholder="상세주소">
            <input type="hidden" name = "address_jibun" id="jibunAddress" placeholder="지번주소">
            <!-- <input type="submit" value="저장" %> -->
            
          </div>
          <div class="each-form-single-line form-group form-group-lg">
            <h3>대표 메뉴</h3>
              <input class="form-control input-lg" type="text" placeholder="Cafe's signature" name="signaturemenu" id="signaturemenu" required><br>
          </div>
          <div class="each-form-single-line form-group form-group-lg">
            <h3>로고 사진</h3>
              <input type="file" name="thumbnail" id ="thumbnail"accept="image/*">
          </div>
          <div class="each-form-single-line form-group form-group-lg">
            <h3>대표 사진</h3>
              <input type="file" name="cafeimage" id="cafeimage" accept="image/*">
          </div>
          <div class="each-form-single-line form-group form-group-lg">
            <h3>카페 소개</h3>
                <textarea class="form-control" rows="11" placeholder="Introduce your bucket" name="intro_detail" id ="intro_detail" required></textarea>
          </div>
          <div class="each-form-single-line form-group form-group-lg">
            <h3>카페 태그</h3>
            <span>태그를 달아주세요 (ex 라떼, 에스프레소, 케익)</span>
              <input class="form-control input-lg" type="text" placeholder="tag1" name="tag1" value="" required><br>
              <input class="form-control input-lg" type="text" placeholder="tag2" name="tag2" value="" required><br>
              <input class="form-control input-lg" type="text" placeholder="tag3" name="tag3" value="" required><br>
          </div>
          <div class="each-form-single-line form-group form-group-lg">
            <h3>결제 수단</h3>
            <span>생성하기 버튼을 누르고 결제를 하셔야 카페등록이 완료됩니다.</span>
            <select name="pay_method" id="pay_method" class="form-control input-lg">
              <option value="card">신용카드</option>
              <option value="trans">실시간계좌이체</option>
              <option value="vbank">가상계좌</option>
              <option value="phone">휴대폰소액결제</option>
            </select>
            <input type="checkbox" name="use_escrow" value="escrow" id="use_escrow">
            <span id="escrow-label"> 에스크로결제적용</span>
            <input type="hidden" name="merchant_uid" id="merchant_uid" value="">
            <input type="hidden" name="name" id="name" value="결제테스트">
            <input type="hidden" name="amount" id="amount" value="1000">
            <input type="hidden" name="buyer_email" id="buyer_email" value="<%= @user.email %>">
            <input type="hidden" name="buyer_name" id="buyer_name" value="cheon">
            <input type="hidden" name="buyer_tel" id="buyer_tel" value="070-8658-8870">
            <input type="hidden" name="vbank_due" id="vbank_due" value="">
            <input type="hidden" id="user_id" value = "<%= @user.id %>">       
          </div>          
          <div>
            <input class="btn btn-primary btn-lg col-xs-12 col-sm-12 col-md-12 col-lg-12" type="submit" value="생성하기" id="submit_button">
          </div>
      </form> 
    </div>
  </div>
</div>

<script type="text/javascript" src="/js/moment.min.js"></script>
<script type="text/javascript">
function callback() {
    //loaded
    $(function() {
        document.frm_payment.merchant_uid.value = 'merchant_' + new Date().getTime();
        document.frm_payment.vbank_due.value = moment().add(2, 'day').format('YYYYMMDD');

        $('#submit_button').click(function() {
            var frm = document.frm_payment;
            var IMP = window.IMP;
            var escrow = $(frm.use_escrow).is(':checked')
            IMP.init('imp79476461');
            IMP.request_pay({
                pay_method : frm.pay_method.value,
                escrow : escrow,
                merchant_uid : frm.merchant_uid.value,
                name:frm.name.value, 
                amount:frm.amount.value, 
                buyer_email:frm.buyer_email.value, 
                buyer_name:frm.buyer_name.value, 
                buyer_tel:frm.buyer_tel.value, 
                buyer_addr:frm.buyer_addr.value,
                buyer_postcode:frm.buyer_postcode.value,
                vbank_due:frm.vbank_due.value,
                app_scheme:'iamporttest'
            }, function(rsp) {
                if ( rsp.success ) {
                    var msg = '결제가 완료되었습니다.<br>';
                    msg += '고유ID : ' + rsp.imp_uid + '<br>';
                    msg += '상점 거래ID : ' + rsp.merchant_uid + '<br>';
                    msg += '결제 금액 : ' + rsp.paid_amount + '<br>';

                    if ( rsp.pay_method === 'card' ) {
                        msg += '카드 승인번호 : ' + rsp.apply_num + '<br>';
                    } else if ( rsp.pay_method === 'vbank' ) {
                        msg += '가상계좌 번호 : ' + rsp.vbank_num + '<br>';
                        msg += '가상계좌 은행 : ' + rsp.vbank_name + '<br>';
                        msg += '가상계좌 예금주 : ' + rsp.vbank_holder + '<br>';
                        msg += '가상계좌 입금기한 : ' + rsp.vbank_date + '<br>';
                    }
                  $.ajax({
                      data: {
                              pay_method: rsp.pay_method, 
                              merchant_uid: rsp.merchant_uid,
                              name: rsp.name, 
                              paid_amount: rsp.paid_amount,
                              pg_provider: rsp.pg_provider,
                              pg_tid: rsp.pg_tid,
                              apply_num: rsp.apply_num,
                              vbank_num: rsp.vbank_num,
                              vbank_name: rsp.vbank_name,
                              vbank_holder: rsp.vbank_holder,
                              vbank_date: rsp.vbank_date,
                              user_id: $("#user_id").val(),
                              cafename: $("#cafename").val(),
                              thumbnail: $("#thumbnail").val(),
                              cafeimage: $("#cafeimage").val(),
                              signaturemenu: $("#signaturemenu").val(),
                              intro_detail: $("#intro_detail").val(),
                              buyer_addr: $("#address").val(),
                              address_detail: $("#address_detail").val(),
                              address_jibun: $("#jibunAddress").val()


                      },
                      url: '/cafe/cafecreate',
                      enctype: "multipart/form-data",
                      method: "post"
                    });
    

                } else {
                    var msg = '결제에 실패하였습니다.' + '\n';
                    msg += '에러내용 : ' + rsp.error_msg + '\n';
                    alert(msg);
                    location.href ="/cafe/caferegister/<%= @user.id %>";
                }
            });

            return false;
        });

    });
}

var script = document.createElement('script');
script.type = "text/javascript";

if ( script.readyState ) { //IE
    script.onreadystatechange = function() {
        if ( script.readyState == 'loaded' || script.readyState == 'complete' ) {
            script.onreadystatechange = null;
            callback();
        }
    }

} else {
    script.onload = function() {
        callback();
    }
}

script.src = "https://service.iamport.kr/js/iamport.payment.js";
document.getElementsByTagName('head')[0].appendChild(script);
</script>


<script type="text/javascript">
//우편번호 찾기 버튼 클릭 시
function execDaumPostcode() {
        new daum.Postcode({
            oncomplete: function(data) {
                // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                // 각 주소의 노출 규칙에 따라 주소를 조합한다.
                // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                var fullAddr = ''; // 최종 주소 변수
                var extraAddr = ''; // 조합형 주소 변수
                var Jibun_address = '';

                // 사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                    JibunAddress = data.autoJibunAddress;

                } else { // 사용자가 지번 주소를 선택했을 경우(J)
                    JibunAddress = data.jibunAddress;
                }
                

                // 사용자가 선택한 주소가 도로명 타입일때 조합한다.
                if(data.userSelectedType === 'R'){
                    //법정동명이 있을 경우 추가한다.
                    if(data.bname !== ''){
                        extraAddr += data.bname;
                    }
                    // 건물명이 있을 경우 추가한다.
                    if(data.buildingName !== ''){
                        extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                    }
                    // 조합형주소의 유무에 따라 양쪽에 괄호를 추가하여 최종 주소를 만든다.
                    fullAddr += (extraAddr !== '' ? ' ('+ extraAddr +')' : '');
                }

                // 우편번호와 주소 정보를 해당 필드에 넣는다.
                document.getElementById('postcode').value = data.zonecode; //5자리 새우편번호 사용
                document.getElementById('address').value = data.roadAddress;
                document.getElementById('jibunAddress').value = JibunAddress;
                // 커서를 상세주소 필드로 이동한다.
                document.getElementById('address_detail').focus();
            }
        }).open();
    }
</script>

