<div class="container">
  <div class="row" style="border-bottom:1px solid #d9d9d9">
    <div class="top-sentence">
      <span class="topsent1">스페셜한 하루를 위해!</span><br>
      <span class="topsent2">특별해지는 경험을 해보세요.</span>
    </div>
  </div>
  <div class="row" style="transform:translateY(1%)">
    <div class="col-lg-6">
      <% @caves.each do |x| %>
        <img style="width:100px;height:100px"src="<%= x.thumnail.url %>" alt="thumnail img"><br>
        <b><%= x.name %></b><br>
        <div style="border-bottom:1px solid #d9d9d9"><%= x.address %></div><br>
      <% end %>
    </div>

    <div class="col-lg-6">
      <div id="map_canvas" style="min-height:800px;min-width:555px;">map div</div>
    </div>
  </div>
</div>
