<div class="container-fluid">
  <div class="row">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <img class="first-slide" src=<%= @cafe.image.url %> alt="First slide">
          <div class="container">
            <div class="carousel-caption">
              <h1><%= @cafe.name %></h1>
              <p><%= @cafe.introduction %></p>
            </div>
          </div>
        </div>
        
        <!--<% @comments.each do |c| %>
          <div class="item">
            <img class="second-slide" src="<%= c.image.url %>" alt="Second slide">
            <div class="container">
              <div class="carousel-caption">
                <h1><%= c.user.email %></h1>
                <p><%= c.content %></p>
              </div>
            </div>
          </div>
        <% end %>-->
      </div>
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div><!-- /.carousel -->
  </div>
</div>
<div class="container">
  <div class="row cafedetail-container">
    <div class="col-md-12">
      <div class="col-md-12 cafeinfo-container">
        <div class="col-md-2">
          <div class="circular">
            <img style="width:100%" src=<%= @cafe.thumnail.url %>>
          </div>
        </div>
        <div class="col-md-7">
          <p class="cafedetail-cafename">
            <span>
              <%= @cafe.name %>
            </span>
          </p>
          <p class="cafedetail-cafeaddr">
            <span>
              <%= @cafe.address %>
            </span>
          </p>
          <p class="cafedetail-cafesignature">
            <span>
            시그니처 메뉴: &nbsp; <a style="font-style:bold"><%= @cafe.signaturemenu %></a>
            </span>
          </p>
        </div>
        <div class="col-md-3">
          <div class="cafedetail-tags">
            <% @cafe.tags.each do |tag| %>
            <span class="label label-default"><%= tag.content %></span>
            <% end %>
          </div>
        </div>
      </div>
      <div class="col-md-12 cafeintro-container">
        <div class="col-md-12">
          <h2>카페소개</h2>
        </div>
        <div class="col-md-9 cafeintroduction">
          <%= @cafe.introduction %>
        </div>
      </div>
      <div class="col-md-12 cafereplies-container">
        <form action="/cafe/add_comment" method="POST" enctype="multipart/form-data" style="width:100%">
          
          <div class="fileinput fileinput-new" data-provides="fileinput">
            <span class="btn btn-default btn-file"><span class="fileinput-new">Select file</span><span class="fileinput-exists">Change</span><input type="file" name="..."></span>
            <span class="fileinput-filename"></span>
            <a href="#" class="close fileinput-exists" data-dismiss="fileinput" style="float: none">&times;</a>
          </div>
          
          <div class="each-form-single-line form-group form-group-lg">
            <h3>로고 사진</h3>
            <input type="file" name="thumbnail" accept="image/*">
          </div>
          <!-- <input type="file" name="commentimage" accept="image/*"> -->
          <input type="hidden" name="cafehash" value="<%= @cafe.cafehash %>">
          <div class="col-md-8 cafecomment-content">
            <textarea name="commentcontent"></textarea>  
          </div>
          <div class="col-md-2">
            <input class="btn btn-default pull-left" type="submit" value="코멘트추가">
          </div>
        </form>
      </div>
      <div class="col-md-12 commentview-container">
        <% @comments.each do |c| %>
        <div class="col-md-10" style="border-bottom : 1px solid #DDDDDD">
          <div style="margin-top:5px margin-bottom:3px">
            <span><%= c.user.email %></span>
            <span class="pull-right"><%= c.writtentime.to_s[0,16] %></span>
          </div>
          <div style="margin-bottom:5px">
            <span class="glyphicon glyphicon-arrow-right"></span><span><%= c.content %></span>
            <% if c.user.id.nil? && c.user.id == current_user.id %>
              <%= link_to "삭제하기", :action => 'delete_comment', :controller => 'cafe', :hash => c.hashstr %>
            <% end %>
          </div>
        </div>
        <% end %>
      </div>
    </div>
    
  </div>
</div>

