
<input type="submit" id="dd" value="aaaaaaa">

<script type="text/javascript" src="/js/moment.min.js"></script>
<script type="text/javascript" src="https://service.iamport.kr/js/iamport.payment.js">

</script>
<script type="text/javascript">
$(document).ready(function(){
$("#dd").click(function(){
var IMP = window.IMP; 
IMP.init('imp79476461');
IMP.request_pay({
          pay_method : 'card', // 'card':신용카드, 'trans':실시간계좌이체, 'vbank':가상계좌, 'phone':휴대폰소액결제
          merchant_uid : 'merchant_' + new Date().getTime(),
          name : '주문명:결제테스트',
          amount : 14000,
          buyer_email : 'iamport@siot.do',
          buyer_name : '구매자이름',
          buyer_tel : '070-8658-8870',
          buyer_addr : '서울특별시 강남구 삼성동',
          buyer_postcode : '123-456'
      }, function(rsp) {
          if ( rsp.success ) {
              var msg = '결제가 완료되었습니다.';
              msg += '고유ID : ' + rsp.imp_uid;
              msg += '상점 거래ID : ' + rsp.merchant_uid;
              msg += '결제 금액 : ' + rsp.paid_amount;
              msg += '카드 승인번호 : ' + rsp.apply_num;
          } else {
              var msg = '결제에 실패하였습니다.';
              msg += '에러내용 : ' + rsp.error_msg;
          }
      });
});
});

</script>