<div class="container bucket-container">
 <div  class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
      <div>
        <h1 class="headline text-weight_300">
           로그인
        </h1>
      </div>
      <br>
      <div>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="each-form-single-line form-group form-group-lg">
            <h4>Email</h4>
            
            <%= f.email_field :email, autofocus: true, class: "form-control input-lg" %>
          </div>

          <div class="each-form-single-line form-group form-group-lg">
            <h4>Password</h4>
            <%= f.password_field :password, autocomplete: "off", class: "form-control input-lg" %>
          </div>

          <%# if devise_mapping.rememberable? -%>
            <!-- <div class="field"> -->
              <%#= f.check_box :remember_me %>
              <%#= f.label :remember_me %>
            <!-- </div> -->
          <%# end -%>
          <br><br>
          <div class="actions">
            <input class="btn btn-primary btn-lg col-xs-12 col-sm-12 col-md-12 col-lg-12" type="submit" value="로그인" id="submit_button">
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <%= render "users/shared/links" %>
</div>



