<div class="container bucket-container">
 <div  class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
      <div>
        <h1 class="headline text-weight_300">
           비밀번호 변경
        </h1>
      </div>
      <br>
      <div>
        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
          <%= f.hidden_field :reset_password_token %>

          <div class="each-form-single-line form-group form-group-lg">
            <h4>New Password</h4>
            <% if @minimum_password_length %>
            <h5>(최소 <%= @minimum_password_length %>자 이상)</h5>
            <% end %>
            <%= f.password_field :password, autocomplete: "off", class: "form-control input-lg" %>
          </div>

          <div class="each-form-single-line form-group form-group-lg">
            <h4>Confirm new password</h4>
            <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control input-lg" %>
          </div>
          <br><%= devise_error_messages! %><br>
          <div class="actions">
            <input class="btn btn-primary btn-lg col-xs-12 col-sm-12 col-md-12 col-lg-12" type="submit" value="비밀번호 변경" id="submit_button">
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%= render "users/shared/links" %>
