<div class="container bucket-container">
  <div  class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
	  <div>
	    <h1 class="headline text-weight_300">
	       비밀번호 찾기
	    </h1>
	  </div>
	  <br>
	  <div>
		<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
			

			<div class="each-form-single-line form-group form-group-lg">
              <h4>Enter Your Email Address</h4>       
				<%= f.email_field :email, autofocus: true, class: "form-control input-lg" %>
			</div>
			<br><%= devise_error_messages! %><br>
			<div class="actions">
				<input class="btn btn-primary btn-lg col-xs-12 col-sm-12 col-md-12 col-lg-12" type="submit" value="Reset Password" id="submit_button">
			</div>
		<% end %>
	  </div>
    </div>
  </div>
  <%= render "users/shared/links" %>
</div>

