/* CafeSearch Page */
.cafesearch-content{
  text-align : center;
  height:344px;
}

  .cafesearch-content span{
    color:white;
    font-size:3.0em;
    position:relative;
    top:60%;
  }






.cafeinfo-container{
    padding-bottom:20px;
    border-bottom : 1px solid #DDDDDD;
}




/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 500px;
  margin-bottom: 60px;
  margin-top:50px;
}


/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}

.cafedetail-cafename{
    font-size:1.5em;
    color:#777777;
    font-weight:bold;
}

.cafedetail-cafeaddr{
    color:#777777;
}

.cafedetail-cafesignature{
    color:#777777;
}

.postnumber{
  padding-left: 0px;
  padding-right: 0px;
}

.circular {
	}

    .circular img{
        background-repeat: no-repeat;
        background-position: 50%;
        border-radius: 50%;
        width: 100%;
        height:150px;
    }

.cafedetail-tags{
    font-size:2.0em;
}

.cafeintro-container{
    padding-bottom:20px;
    border-bottom : 1px solid #DDDDDD;
}

.cafereplies-container{
    margin-top:20px;
}
    .cafereplies-container textarea{
        width:100%;
    }


.bucket-container {
    vertical-align: middle;
    text-align: center;
    margin-top: 63px;
    padding: 20px 0px 70px;
}

/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}