<!DOCTYPE html>
<html>
<head>
  <title>PureBlack</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="http://ironsummitmedia.github.io/startbootstrap-creative/css/creative.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" type="text/css" href="//app/assets/stylesheets/cafe_css.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script src="https://spi.maps.daum.net/imap/map_js_init/postcode.v2.js"></script>
  <%= csrf_meta_tags %>
  <% if params[:action]=='cafesearch' %>
  <!-- Javascript for Google Map -->
    <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyB7k29PrA_Z0V2wkc_dwQdgdMWmqEIfRLQ"></script>
    <script type="text/javascript">
      var marker;
      var infowindow;
      var map;

      function setMarker(a, b,title,html){
        var marker;
        marker = new google.maps.Marker({
          map:map,
          position: new google.maps.LatLng(a, b),
          title: title
        });
        google.maps.event.addListener(marker, 'click', function() {
          infowindow.setContent(html);
          infowindow.open(map,marker);
          map.setZoom(15);
          map.setCenter(marker.getPosition());
        });
      }

      function initialize() {
        var mapOptions = {
          zoom: 8,
          mapTypeId: google.maps.MapTypeId.ROADMAP,
          center: new google.maps.LatLng(36.566666, 128.716660)
        };
     
        map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);
        infowindow = new google.maps.InfoWindow({
             
        });
        <% @caves.each do |x| %>
        setMarker(<%=x.latitude%>, <%=x.longitude%>,'<%=x.address%>','<%=x.address%>');
        <% end %>
      }
    </script>
<!-- Javascript for Google Map END!!!!-->
  <% end %>  
</head>
<body>
  <% if params[:action]=='cafesearch'%>
    <body onload="initialize()">
  <% else %>
    <body>
  <% end %>

  <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <% if params[:action]=='index' %>
                    <a class="navbar-brand" href="/">PureBlack</a>
                <%else%> 
                    <a class="navbar-brand" href="/" style="color:black">PureBlack</a>
                <%end%>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                  <li>
                    <% if params[:action]=='index' && user_signed_in? %>
                      <a href="/cafe/caferegister/<%= current_user.id %>">카페 등록하기</a>
                    <%elsif user_signed_in? %> 
                      <a href="/cafe/caferegister/<%= current_user.id %>" style="color:black">카페 등록하기</a>
                    <%end%>
                  </li>
                  <li>
                    <% if params[:action]=='index' %>
                      <a href="#about">도움말</a>
                    <%else%> 
                      <a href="#about" style="color:black">도움말</a>
                    <%end%>
                  </li>
                  <li>
                    <% if !user_signed_in? %>
                      <% if params[:action]=='index' %>
                        <a href="/users/sign_up">회원가입</a>
                      <%else%> 
                        <a href="/users/sign_up" style="color:black">회원가입</a>
                      <%end%>
                    <%end%>
                  </li>
                  <li>
                    <% if params[:action]=='index' %>
                      <% if user_signed_in? %>
                        <a href="/users/sign_out">로그아웃</a>
                      <%else%> 
                        <a href="/users/sign_in">로그인</a>
                      <%end%>
                    <% else %>
                      <% if user_signed_in? %>
                        <a href="/users/sign_out" style="color:black">로그아웃</a>
                      <%else%> 
                        <a href="/users/sign_in" style="color:black">로그인</a>
                      <%end%>
                    <% end %>
                  </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
<!-- navbar End -->
<%= yield %>
<!-- Footer -->
<footer>
	<div class="footer section">
		<div class="container">
			<div class="space"></div>
			<div class="row">
				<div class="col-md-12">
					<div class="footer-content">
					<p class="large">하루의 시작을 알리는 커피, 당신의 스페셜티를 PureBlack과 함께 하세요</p>	
				  </div>
			  </div>
			</div>
      <br>
      <p class="text-center">Copyright © 2015 Designed by <a target="_blank" href="/">PureBlack</a></p>
		</div>
	</div>
</footer>
</body>
</html>
<script>  
   $(document).ready(function(){       
      var mq = window.matchMedia( "(min-width: 768px)" );
      var scroll_start = 0;
      var startchange = $('#startchange');
      var offset = startchange.offset();
      if (startchange.length){
         if (mq.matches) { // window width is at least 500px
            $(document).scroll(function() { 
               scroll_start = $(this).scrollTop();
               if(scroll_start > offset.top) {
                  $(".navbar-default").css('background-color', '#333');
               } else {
                $('.navbar-default').css('background-color', 'transparent');
               }
            });   
         }
         else {// window width is less than 500px
            $(".navbar-default").css('background-color', '#333');
         }
      }
   });
</script>